@model IEnumerable<EntityLayer.Concrete.Datetime>
    <h2>Hoşgeldiniz. Sayın @TempData["Patient"] </h2>
        <div class="row">
            <div class="col-6">
                <h5>
                    Randevu Listeleme
                </h5>
                <table>
                    <tr>
                        <th>Poliklinik</th>
                        <th>Doctor İsmi</th>
                        <th>Randevu Günü</th>
                        <th>Randevu Saati</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (Convert.ToDateTime(@TempData["Bugün"]) > Convert.ToDateTime(@item.Time.ToString("dd/MM/yyyy HH:mm")))
                        {
                            <tr style="background-color:red">
                                <td>@item.Doctor.Branch.BranchName</td>
                                <td>@item.Doctor.DoctorName</td>
                                <td>@item.Time.Date.ToString("dd/MM/yyyy")</td>
                                <td>@item.Time.Hour:@item.Time.Minute</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="table-light">
                                <td>@item.Doctor.Branch.BranchName</td>
                                <td>@item.Doctor.DoctorName</td>
                                <td>@item.Time.Date.ToString("dd/MM/yyyy")</td>
                                <td>@item.Time.Hour:@item.Time.Minute</td>
                            </tr>
                        }
                    }

                </table>
            </div>
